    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <h3 style="color:blue">Ingredients</h3>
    <hr>
        <!-- <%- results[0].comment %> 
        <%- results[0].formattedDate %>  -->
<main>
    <div class="all">

        <%  for(var i=0; i<results.length-1; i++) { %>
            <div class="journal">
                <div class="date">
                    <%- results[i].formattedDate %>  
                </div>
                <div class="comment">
                    <%- results[i].comment %>  
                    </div>
                    
                </div>
        <% } %>
    </div>   

</main>
<style>
main {
    display: flex;
    justify-content: center;
}
.all {
    display: flex;
    flex-direction: column;
    /* width: 700px; */
    justify-content: center;
}
.journal {
    @media only screen and (min-width: 700px) {
        width: 700px;
    }
    i {
        cursor: pointer;
        color: rgb(85, 84, 84);
        &:hover {
            color: #000;
        }
    }
    margin: 3px auto;
    // border: 1px solid #ddd;
    display: flex;
    background-color: rgb(241, 241, 241);
    justify-content: space-around;
    // align-items: flex-start;
    padding: 10px;
    &:nth-child(odd) {
        background-color: rgb(238, 236, 236);
    }
}
.date {
    // flex-basis: 100px;
    // flex-grow: 1;
    max-width: 60px;
    a {
        border: 1px solid #ccc;
        padding: 3px;
        display: block;
        width: 30px;
        color: #000;
        border-radius: 7px;
        text-align: center;
        &:hover {
            text-decoration: none;
            background-color: rgb(109, 107, 107);
            color: rgb(240, 238, 238);
            border-color: rgb(109, 107, 107);
            transition: .2s;
        }
    }
}
.comment {
    // flex-grow: 3;
    flex-basis: 90%;
    padding-left: 10px;
}

.journal:nth-child(odd) { 
    background-color: rgba(235, 232, 232, 0.534);
}
.comment, .date {
    padding: 10px;
}


</style>